<div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
    <h2 class="fs-3 fw-bold mb-5">Authentication</h2>

    <div class="d-flex w-100 justify-content-between">
        <a href="auth/login" class="btn btn-primary" style="width: calc((100% / 2) - 15px);">Login</a>
        <a href="auth/registor" class="btn btn-primary" style="width: calc((100% / 2) - 15px);">Registor</a>
    </div>
</div>