<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="fw-semibold mb-3 mt-5">Trang chủ</h1>
    <div class="d-flex justify-content-between align-items-center">
      <p class="fs-6 mb-0">Chào bạn: Phí Đức</p>
      <a href="" class="btn btn-secondary ms-3">Đăng xuất</a>
    </div>
  </body>
</html>
